.price-range-container {
  position: relative;
  width: 30%;
  padding: 20px;
  color: #fff;
}

h2 {
  margin-bottom: 10px;
  text-align: left;
  color: black;
}

p {
  text-align: left;
  margin-bottom: 20px;
  color: black;
}

/* slider */
.horizontal-slider {
  width: 100%;
  height: 10px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.track {
  height: 10px;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #ff5a5f; 
  border-radius: 50%;
  cursor: grab;
  position: absolute;
  top: -5px;
  z-index: 3;
}

/* Histogram styling */
.histogram {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  height: 150px; 
  margin: 0 15px; /* Pull histogram up to remove space with slider */
  position: relative; 
  z-index: 1; 
}

.histogram-bar-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: o 1px;
}

.histogram-bar {
  background-color: red;
  width: 100%;
  max-width: 20px;
  margin: 0 auto;
}

.histogram-label {
  margin-top: 5px;
  font-size: 12px;
}

/* inputs */
.price-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.price-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-input input {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  color: black;
  width: 100px;
  outline: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.price-input label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.price-input input:focus {
  border-color: #ff5a5f; 
  box-shadow: 0 2px 8px rgba(255, 90, 95, 0.3);
}
