.price-range-container {
  position: relative;
  padding: 10px;
  color: #fff;
}

h2 {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 500;
  text-align: left;
  color: black;
}

p {
  text-align: left;
  margin-bottom: 20px;
  color: black;
  font-size: medium;
  font-weight: 400;
}

/* slider */
.horizontal-slider {
  width: 100%;
  height: 80px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.track {
  height: 2px;
}

  .thumb {
    top: -15px;
    cursor: grab;
    border-radius: 100%;
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    width: 2rem;
    height: 2rem;
    padding: .938rem;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 5px 22px rgba(0, 0, 0, 0.1);
  }


/* Histogram styling */
.histogram {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  height: 100px; 
  margin: 0 125px; /* Pull histogram up to remove space with slider */
  position: relative; 
  z-index: 1; 
}

.histogram-bar-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.histogram-bar {
  background-color: rgb(196, 0, 91);
  max-width: 6px;
}

.histogram-label {
  margin-top: 5px;
  font-size: 5px;
}

/* inputs */
.price-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  margin-bottom: 40px;
  width: 100%;
}

.price-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-input input {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  color: black;
  width: 100px;
  outline: none;
}

.price-input label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}