.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: var(--primary);
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 40px;
}
.summary {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 115px;
}
.main h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.main > *{
  border-left: 1px solid var(--palette-deco);
  padding: 0 24px 4px;
}
.main > :first-child {
  border-left: none;
  padding: 0;
}
.ratingItem{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.ratingItemSummary{
  text-align: left;
  gap: 2px;
}
.ratingItemSummary p{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

