.category-tabs-container {
  position: relative;
  max-width: 95%;
  max-height: 120px;
  margin: 0 auto;
  background-color: white;
  z-index: 1000;
}

.category-tabs-wrapper {
  overflow: hidden;
  position: relative;
}

.category-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-button {
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
  padding: 30px;
  outline: none;
  transform: translateY(-50%);
  z-index: 1005;
  box-shadow: 0 0 5px 0px #fcfcfc9a ;
  background-color: #fcfcfc9a;
}
.scroll-button-left-container {
  width: 30px;
  left: 0px;
  z-index: 1010;
}
.scroll-button.left {
  display: flex;
  justify-content: center;
  width: 20px;
  left: -50px;
}
.scroll-button-right-container {
  width: 30px;
  left: 0px;
  z-index: 1010;
}
.scroll-button.right {
  display: flex;
  justify-content: center;
  width: 20px;
  right: -50px;
  box-shadow: 0 0 5px 0px #fcfcfc9a ;
  background-color: #fcfcfc9a;
}

.scroll-button:focus {
  outline: none;
}

.tab-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

.tab-item:hover {
  color: #555;
  border-bottom: 2px solid #555;
}

.tab-icon {
  margin-bottom: 8px;
}

.tab-label {
  font-size: 12px;
  text-align: center;
}

.tab-item.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.category-tabs::-webkit-scrollbar {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: auto;
}

.left-arrow {
  transform: rotate(180deg);
}
