*,
*::before,
*::after {
  box-sizing: border-box;
}

.rootLayout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.layoutBody {
	flex-grow: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.rootLayout.modalOpen,
:global(body.modalOpen) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}