.hostButton {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 550;
}

.hostButton:hover {
    background: rgb(245, 243, 243);
    border-radius: 24px;
    transition: background-color 0.3s ease
}

@media (max-width: 768px) {
    .hostButton  {
        display: none !important;
    }
  }