.globe_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 8px;
}

.languageSelector {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    
}
.languageSelector:hover {
    background: rgb(245, 243, 243);
    border-radius: 24px;
}