.popup {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    max-height: 40.25rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    color: black;
    display: block;
}