.amenitiesSection {
    text-align: left;
}

.amenitiesSectionTitle {
    font-size: 1.375rem;
    padding-bottom: 1rem;
    margin: 0;
}

.amenitiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-top: 0;
}

.amenitiesList {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.amenitiesDescription {
    margin-left: 1rem;
}

.showAmenitiesButton {
    background-color: white;
    border: 1px solid black;
    padding: 13px 23px;
}

.showAmenitiesButton:hover {
    background-color: #f7f7f7;
}