/* src/components/SearchBar.css */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 160px;
  }
  
  .label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 0;
    border: none;
  }

  .search-bar input {
    padding: 10px 0;
    border-radius: 0;
    border: none;
    outline: none;
    width: 100%;
    background-color: white;
    text-indent: 10px;
  }

  .separator {
    width: 1px;
    height: 40px;
    background-color: gray;
    margin: 0 15px;
  }

  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .circle-button:hover {
    background-color: #e7314d;
  }
  
  .circle-button svg {
    width: 16px;
    height: 16px;
  }