.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 850px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.checkInOutWrapper,
.checkInOutExperiencesWrapper {
  display: flex;
}

.inputContainerWhere {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  padding-left: 10px;
}

.inputTextPlaceholder,
.checkInText,
.checkOutText {
  color: #797777;
}

.inputContainerCheckIn,
.inputContainerCheckOut {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 140px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

.checkInText,
.checkOutText{
  font-size: 14px;
}

.inputContainerWho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: auto;
  padding-left: 25px;
  flex: 1;
}

.inputContainerDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 281px;
  padding-left: 25px;
  cursor: pointer;
}

.label {
  font-size: 12px;
  color: #666;
  font-weight: bold;
  text-align: left;
  border: none;
  width: 100%;
}

.searchBar input {
  border: none;
  outline: none;
  width: 100%;
  background-color: white;
  padding: 0px 0px;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: #b5b5b5f5;
  opacity: 0.5;
  margin: 0;
  padding: 4.5;
}

.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 60px;
}

.circleButton:hover {
  background-color: #e7314d;
}

.circle-button svg {
  width: 16px;
  height: 16px;
}

.calendarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 70px;
  padding: 16px 32px;
  background-color: white;
  z-index: 100;
  width: 850px;
  width: 100%;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.calendarWrapper.open {
  opacity: 1;
  transform: translateY(0);
}

.calendarWrapper.close {
  opacity: 0;
  transform: translateY(-140px);
}

.calendarExperiencesWrapper {
  padding: 28px 30px 20px;
}

.calendarToggleWrapper {
  padding-bottom: 10px;
}

.calendarContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incrementButtonWrapper {
  display: flex;
  justify-self: start;
  padding: 22px 40px 14px;
  width: 100%;
}