.headerSectionContainer {
    width: 100%;
    position: relative;
    z-index: 900;
}

.header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px 30px;
    box-sizing: border-box;
    position: fixed;
    background-color: #ffffff;
    height: 180px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.airbnbHomeButton {
    display: flex;
    align-items: top;
    cursor: pointer;
}

.logoAirbnb {
    height: 60px;
    width: 80px;
}

.userMenusWrapper {
    display: flex;
    align-items: top;
    margin-top: 10px;
    margin-right: 20px;
}