.headerSectionContainer {
    width: 100%;
    position: relative;
    z-index: 1111;
}

.header {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px 30px;
    box-sizing: border-box;
    position: fixed;
    background-color: #ffffff;
    height: 180px;
}

.separator {
    width: 100%;
    margin-top: 160px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1001;
      border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.115); 
    }

.airbnbHomeButton {
    display: flex;
    align-items: top;
    cursor: pointer;
}

.logoAirbnb {
    height: 60px;
    width: 80px;
}

.userMenusWrapper {
    display: flex;
    align-items: top;
    margin-top: 10px;
    margin-right: 20px;
}
