.date-selection-container {
  display: flex;
  gap: 12px; 
  padding: 10px; 
}

.option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  padding: 8px 16px;
  border: 1px solid #e0e0e0; 
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: hsl(0, 0%, 18%);
  min-width: 50px; 
  text-align: center;
}

.option:hover {
  border-color: #302f2f;  
}

.option.selected {
  border-color: black;
  border-width: 2px; 
}

