.buttonContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    margin-right: none;
    outline: none;
}

.toggleButton:focus {
    outline: none;
}

.active {
    font-weight: 600;
    color: black;
}

.active:hover {
    background: none;
    color: black;
}

.inactive {
    color: grey
}

.inactive:hover {
    background: rgb(245, 243, 243);
    color: black;
}

@media (max-width: 880px) {
    .buttonContainer {
        left: 40%;
    }
}

@media (max-width: 768px) {
    .buttonContainer {
        display: none;
    }
}