.reservationCard {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  width: 23rem;
}

.reservationSection {
  display: flex;
  flex-direction: column;
}

.pricingGuestSection {
  margin-bottom: 24px;
  text-align: left;
  font-size: 1rem;
}

.pricingGuestSection span {
  font-size: 1.375rem;
  font-weight: 500;
}

.reservationForm {
  text-align: left;
}

.reservationForm button {
  padding: 0;
}

.reservationForm label {
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
}

.datesPickerSection {
  display: flex;
  width: 100%;
  background-color: transparent !important;
  border: 1px solid #ddd;
  font-size: 0.875rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.checkoutSectionContent,
.guestsPickerSectionContent,
.checkinSectionContent {
  margin: 12px 10px;
}

.checkinSection {
  width: 100%;
  text-align: left;
  border-right: 1px solid #ddd;
}

.checkoutSection {
  width: 100%;
  text-align: left;
}

.guestsNumberPickerSection {
  width: 100%;
  border: 1px solid #ddd;
  border-top: transparent;
  text-align: left;
  background-color: transparent !important;
  font-size: 0.875rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.buttonContainer {
  margin-bottom: 8px;
}

.reserveButton {
  border: none;
  width: 100%;
  margin: 1rem 0;
  padding: 14px 24px;
  color: white;
  background-image: radial-gradient(circle,
      rgb(255, 56, 92) 0%,
      rgb(230, 30, 77) 27.5%,
      rgb(227, 28, 95) 40%,
      rgb(215, 4, 102) 57.5%,
      rgb(189, 30, 89) 75%,
      rgb(189, 30, 89) 100%);
}